
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Forgot Password ?</h4>
      </div>
      <div class="modal-body">
        <p>Enter your e-mail address below to reset your password.</p>
        <%= devise_error_messages! %>
        <%= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Email' %>

      </div>
      <div class="modal-footer">
        <%= link_to "Cancel", session_path(resource), class: "btn btn-theme" %>
        <%= f.submit 'Reset Password', class: "btn btn-theme" %>
      </div>
    </div>
  </div>
<% end %>